.navbar{
      font-size: 30px;
}
#signout-btn{
      height: 30px;
      margin-top: 20px;
      background-color: rgb(6, 36, 36);
}
.site-name{
      font-size: 45px;
      color: rgb(18, 177, 23);
}